* {
    padding: 0;
    box-sizing: border-box;
    appearance: none;
}

body{
    margin: 0;
    padding: 10px;
    background-color: rgba(242, 153, 196, 0.5);
    display: grid;
    place-items: center;
    flex-direction: column;
    grid-template-rows: 1fr auto;

}

.first-row{
    display: flex;
    flex-direction: row;
    padding: 80px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 30px;
    background-color: rgba(242, 153, 196, 0.5);
    flex: 1;
}

.first-row:hover{
    box-shadow: 0 0 50px rgb(242, 153, 196);
}

.container{
    width: 50%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    font-size: 20px;

}

.cordsText{
    margin: 0;
    margin-bottom: 10px;

}

.form p {
    margin-right: 10px;
}

.graph{
    border: 5px solid rgb(107, 163, 209);
    border-radius: 1px;
    margin-left: 20px;
}

#error_field {
    visibility: hidden;
    background-color: #ea3267;
    border-radius: 10px;
    border: 2px solid red;
    padding: 10px;
    margin: 10px auto;
    max-width: 400px;
}
.back{
    display: flex;
    background-color: rgb(242, 153, 196);
    color: white;
    border: none;
    border-radius: 10px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 1px;
    padding-left: 6px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}